{
    "env": {
        "jest": true
    },
    "extends": [
      "airbnb-base",
      "plugin:@typescript-eslint/recommended",
      "prettier/@typescript-eslint",
      "plugin:prettier/recommended",
      "plugin:import/errors",
      "plugin:import/warnings",
      "plugin:import/typescript"
    ],
    "rules": {
      "import/extensions": [
        "error",
        "ignorePackages",
        {
          "ts": "never"
        }
     ],
      "import/prefer-default-export": "off",
      "prettier/prettier": "error"
    },
    "plugins": [
      "@typescript-eslint",
      "prettier"
    ],
    "parserOptions": {
      "sourceType": "module",
      "parser": "babel-eslint",
      "ecmaVersion": 2018
    }
  }
